@mixin generator {
    html {
        body {
            #root {
                #generator-container {
                    max-width: 1180px;
                    width: 100%;
                    margin: 0 auto;
                    padding: 20px;

                    .row {
                        #lesson-container {
                            width: 100%;
                            height: 350px;
                            background: white;
                            border-radius: 5px;
                            padding: 5px;

                            .lesson-container {
                                background: lightgrey; 
                                padding: 8px;
                                height: 100%;
                                border-radius: 5px;
                                overflow: auto;

                                .lesson-item-remove-btn {
                                    padding: 0px 0px 0px 0px;
                                    height: 25px;
                                    width: 25px;
                                }

                                div.accordion {
                                    div.card {
                                        div.collapse {
                                            div.card-body {
                                                div.slide-container {
                                                    background: lightgrey; 
                                                    padding: 8px;
                                                    height: 100%;
                                                    border-radius: 5px;

                                                    .slide-item {
                                                        user-select: none; 
                                                        padding: 15px; 
                                                        margin: 0px 0px 8px 0px; 
                                                        background: whitesmoke;
                                                        border-radius: 5px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .container-fluid {
                    background-color: #70707021;
                }
            }
        }
    }
}