@mixin generator {
    html {
        body {
            #root {
                #generator-container {
                    max-width: 1180px;
                    width: 100%;
                    margin: 0 auto;
                    padding: 20px;

                    .row {
                        #lesson-container {
                            width: 100%;
                            height: 350px;
                            background: white;
                            border-radius: 5px;
                            padding: 15px;
                        }
                    }
                }

                .container-fluid {
                    background-color: #70707021;
                }
            }
        }
    }
}