@mixin media-library {
    html {
        body {
            div.modal {
                .gallery-modal {
                    .modal-content {
                        .modal-body {
                            .tab-content {
                                #controlled-tab-example-tabpane-mediaLibrary {
                                    ul.media-library-list {
                                        position: absolute;
                                        top: 72px;
                                        left: 0;
                                        bottom: 0;
                                        overflow: auto;
                                        outline: 0;
                                        padding: 2px 8px 8px;

                                        li.media-library-list-item {
                                            width: 16.66%;
                                            position: relative;
                                            float: left;
                                            padding: 8px;
                                            margin: 0;
                                            color: #444;
                                            cursor: pointer;
                                            list-style: none;
                                            text-align: center;
                                            -webkit-user-select: none;
                                            -moz-user-select: none;
                                            -ms-user-select: none;
                                            user-select: none;
                                            box-sizing: border-box;

                                            .media-preview {
                                                position: relative;
                                                box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
                                                background: #eee;
                                                cursor: pointer;
                                            }

                                            .media-preview:before {
                                                content: "";
                                                display: block;
                                                padding-top: 100%;
                                            }

                                            .thumbnail {
                                                overflow: hidden;
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                                bottom: 0;
                                                left: 0;
                                                opacity: 1;
                                                transition: opacity .1s;

                                                .centered {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    transform: translate(50%,50%);

                                                    img {
                                                        transform: translate(-50%,-50%);
                                                    }
                                                }

                                                img {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                }
                                            }

                                            .thumbail:after {
                                                content: "";
                                                display: block;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                right: 0;
                                                bottom: 0;
                                                box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
                                                overflow: hidden;
                                            }

                                            .details {
                                                box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa;
                                            }

                                            .selected {
                                                box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 7px #ccc;
                                            }

                                            .details:focus, .selected:focus {
                                                box-shadow: inset 0 0 2px 3px #fff, inset 0 0 0 7px #5b9dd9;
                                                outline: 2px solid transparent;
                                                outline-offset: -6px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}