@mixin modal {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    div.modal-content {
                        div.modal-body {
                            form {
                                input.error {
                                    border-color: red;
                                }
                                
                                .input-feedback {
                                    color: rgb(235, 54, 54);
                                    font-size: 14px;
                                }

                                div.row {
                                    #slide-sidebar {
                                        .card-header-tabs {
                                            margin-right: 0rem !important;
                                            margin-left: 0rem !important;

                                            .nav-link {
                                                padding: 0.5rem 1.605rem !important;
                                                border-left: 1px solid #ddd;
                                                border-top: 1px solid #ddd;
                                                border-bottom: 1px solid #ddd;
                                                border-right: 1px solid #ddd;
                                                border-top-left-radius: 0rem !important;
                                                border-top-right-radius: 0rem !important;
                                            }

                                            .active {
                                                background-color: rgb(112, 112, 112, 0.25);
                                            }
                                        }

                                        .tab-content {
                                            border-left: 1px solid #ddd;
                                            border-right: 1px solid #ddd;
                                            border-bottom: 1px solid #ddd;
                                            padding: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}