@mixin resources-modal {
    html {
        body {
            div.modal {
                div.resources-modal {
                    div.modal-content {
                        div.modal-body {
                            form {

                                .custom-file-label {
                                    margin: 10px;
                                }
                                .resourceFile1-input-label {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    left: 0;
                                    z-index: 1;
                                    height: calc(1.5em + .75rem + 2px);
                                    padding: .375rem .75rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: #495057;
                                    background-color: #fff;
                                    border: 1px solid #ced4da;
                                    border-radius: .25rem;
                                }

                                .resourceFile2-input-label {
                                    position: absolute;
                                    top: 45px;
                                    right: 0;
                                    left: 0;
                                    z-index: 1;
                                    height: calc(1.5em + .75rem + 2px);
                                    padding: .375rem .75rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: #495057;
                                    background-color: #fff;
                                    border: 1px solid #ced4da;
                                    border-radius: .25rem;
                                }

                                .resourceFile3-input-label {
                                    position: absolute;
                                    top: 90px;
                                    right: 0;
                                    left: 0;
                                    z-index: 1;
                                    height: calc(1.5em + .75rem + 2px);
                                    padding: .375rem .75rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: #495057;
                                    background-color: #fff;
                                    border: 1px solid #ced4da;
                                    border-radius: .25rem;
                                }

                                .resourceFile4-input-label {
                                    position: absolute;
                                    top: 135px;
                                    right: 0;
                                    left: 0;
                                    z-index: 1;
                                    height: calc(1.5em + .75rem + 2px);
                                    padding: .375rem .75rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: #495057;
                                    background-color: #fff;
                                    border: 1px solid #ced4da;
                                    border-radius: .25rem;
                                }

                                .resourceFile5-input-label {
                                    position: absolute;
                                    top: 180px;
                                    right: 0;
                                    left: 0;
                                    z-index: 1;
                                    height: calc(1.5em + .75rem + 2px);
                                    padding: .375rem .75rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: #495057;
                                    background-color: #fff;
                                    border: 1px solid #ced4da;
                                    border-radius: .25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}