@mixin slide-modal {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    div.modal-content {
                        div.modal-body {
                            form {
                                input.error {
                                    border-color: red;
                                }
                                
                                .input-feedback {
                                    color: rgb(235, 54, 54);
                                    font-size: 14px;
                                }

                                div.row {
                                    div#slide-sidebar {
                                        .card-header-tabs {
                                            margin-right: 0rem !important;
                                            margin-left: 0rem !important;

                                            .nav-link {
                                                width: calc(100% / 3);
                                                border-left: 1px solid #ddd;
                                                border-top: 1px solid #ddd;
                                                border-bottom: 1px solid #ddd;
                                                border-right: 1px solid #ddd;
                                                border-top-left-radius: 0rem !important;
                                                border-top-right-radius: 0rem !important;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                            }

                                            .active {
                                                background-color: rgb(112, 112, 112, 0.25);
                                            }
                                        }

                                        .tab-content {
                                            border-left: 1px solid #ddd;
                                            border-right: 1px solid #ddd;
                                            border-bottom: 1px solid #ddd;
                                            height: 500px;
                                            overflow: auto;
                                            margin-top: 0.25rem !important;
                                            padding-top: 0 !important;

                                            div#uncontrolled-tab-tabpane-column {

                                                .sg-workspace-content-section {
                                                    padding: 10px;
                                                }

                                                .section-header {
                                                    border-bottom: 2px solid rgba(0,0,0,.125) !important;

                                                    .column-item-remove-btn {
                                                        cursor: pointer;
                                                    }
                                                }

                                                .collapsible-body {
                                                    border-bottom: 2px solid rgba(0,0,0,.125) !important;

                                                    ul.sg-column-layout {
                                                        float: left;
                                                        width: calc(100% + (8px));
                                                        margin: -8px -5px -3px -3px;
                                                        padding: 0;
                                                        list-style: none;

                                                        li.sg-active, li:hover {
                                                            > span {
                                                                background-color: #2980b9;
                                                            }
                                                        }

                                                        > li {
                                                            float: left;
                                                            margin: 3px;
                                                            width: calc(25% - (6px));
                                                            cursor: pointer;
                                                            
                                                            span {
                                                                background-color: #d9e6ee;
                                                                overflow: hidden;
                                                                position: relative;
                                                                display: block;
                                                                float: left;
                                                                margin: 0 2px 0 0;
                                                                width: calc(100% - 2px);
                                                                height: 28px;
                                                                text-indent: -9999em;
                                                                border-radius: 2px;
                                                            }

                                                            span.sg-1-2 {
                                                                width: calc(50% - 2px);
                                                            }

                                                            span.sg-1-3 {
                                                                width: calc(33.333333% - 2px);
                                                            }

                                                            span.sg-2-3 {
                                                                width: calc(66.666667% - 2px);
                                                            }

                                                            span.sg-1-4 {
                                                                width: calc(25% - 2px);
                                                            }

                                                            span.sg-1-5 {
                                                                width: calc(20% - 2px);
                                                            }


                                                        }
                                                    }
                                                }

                                                [class*=sg-add-sortable-item] {
                                                    left: 0;
                                                    right: 0;
                                                    height: 20px;
                                                    border: 0;
                                                    padding: 0;
                                                    font-size: 9px;
                                                    letter-spacing: .15em;
                                                    line-height: 20px;
                                                    text-shadow: -1px 0 0 #fff, -2px 0 0 #fff, -3px 0 0 #fff, 1px 0 0 #fff, 2px 0 0 #fff, 3px 0 0 #fff;
                                                    color: #bcbcbc;
                                                    overflow: hidden;
                                                }

                                                [class*=sg-add-sortable-item] {
                                                    display: block;
                                                    margin: 0;
                                                    background-color: transparent;
                                                    width: 100%;
                                                    font-weight: 600;
                                                    text-transform: uppercase;
                                                    cursor: pointer;
                                                }

                                                [class*=sg-add-sortable-item]:hover {
                                                    color: green;
                                                }
                                            }
                                        }

                                        div#uncontrolled-tab-tabpane-features {
                                            .sg-element-library {
                                                display: flex;
                                                flex-wrap: wrap;
                                                justify-content: flex-start;
                                                align-items: flex-start;
                                                background-color: #fff;
                                                box-shadow: inset 0 -1px 0 0 #e2e2e2;

                                                .sg-element-library-item:first-child {
                                                    margin-top: -5.5px;
                                                }

                                                .sg-element-library-item {
                                                    display: flex;
                                                    align-items: center;
                                                    flex: 1 1 100%;
                                                    overflow: hidden;
                                                    height: 71.25px;
                                                    border-color: #e2e2e2;
                                                    border-style: solid;
                                                    border-width: 0 0 1px;
                                                    padding: 0 20px;
                                                    background-color: #fff;
                                                    cursor: pointer;

                                                    h4 {
                                                        flex: 0 1 auto;
                                                        overflow: hidden;
                                                        min-width: 1px;
                                                        margin: 0 auto 0 0;
                                                        padding: 0 0 0 20px;
                                                        font-size: 10px;
                                                        font-weight: 600;
                                                        letter-spacing: .065em;
                                                        line-height: 1;
                                                        text-overflow: ellipsis;
                                                        text-transform: uppercase;
                                                        white-space: nowrap;
                                                    }

                                                    .feature-icon {
                                                        height: 30px;
                                                        width: 30px;
                                                    }
                                                }
                                            }
                                        }

                                        div#uncontrolled-tab-tabpane-editor {

                                            .sg-workspace-controls {
                                                > .sg-scroll-box {
                                                    flex-grow: 1;
                                                    height: 100%;
                                                }
                                            }

                                            .sg-scroll-box {
                                                position: relative;
                                                height: 100%;
                                            }

                                            .ps {
                                                overflow: hidden!important;
                                                overflow-anchor: none;
                                                touch-action: auto;
                                                -ms-overflow-style: none;
                                                -ms-touch-action: auto;
                                            }

                                            .sg-workspace-actions {
                                                position: relative;
                                                display: flex;
                                                flex-flow: row nowrap;
                                                width: 100%;
                                                height: 70px;
                                                border-bottom: 1px solid #e2e2e2;

                                                .sg-workspace-action-item {
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-content: center;
                                                    align-items: center;
                                                    flex: 1 0 0%;
                                                    margin: 0;
                                                    border: 0;
                                                    padding: 0;
                                                    text-decoration: none;
                                                    color: #444;
                                                    background-color: #fff;
                                                    cursor: pointer;

                                                    .fa-trash-alt {
                                                        width: 20px !important;
                                                        height: 20px;
                                                    }
                                                }
                                            }

                                            .sg-control-header {
                                                margin: 0 0 10px;
                                            }

                                            .sg-control-text-editor {
                                                > .sg-control-input {
                                                    height: 188px!important;
                                                }

                                                > .sg-expandable-rich-text, .sg-workspace-expander {
                                                    height: 100%
                                                }
                                            }
                                        }
                                    }

                                    div#slide-content {
                                        div#slide-content-container {
                                            max-height: 545px;
                                            overflow: auto;

                                            .container {
                                                .sg-1-2 {
                                                    width: 48%;
                                                }

                                                .sg-1-3 {
                                                    width: 30.66666%;
                                                }

                                                .sg-2-3 {
                                                    width: 65.33332%;
                                                }

                                                .sg-1-4 {
                                                    width: 22%;
                                                }

                                                .sg-1-5 {
                                                    width: 16.8%;
                                                }

                                                .sg-column {
                                                    margin-right: 4%;
                                                    max-height: 200px;
                                                    border: 2px dashed #e2e2e2;
                                                }

                                                .sg-column:last-of-type {
                                                    margin-right: 0 !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .slide-modal-width {
                    max-width: none;
                    width: 80%;
                }
            }
        }
    }
}