@mixin slide-modal-editor {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    div.modal-content {
                        div.modal-body {
                            form {
                                div.row {
                                    div#slide-sidebar {

                                        .tab-content {
    
                                            div#uncontrolled-tab-tabpane-editor {
                                                height: 100%;

                                                .sg-controls {
                                                    .sg-workspace-expander-toggle:hover {
                                                        > span {
                                                            opacity: 1;
                                                            transform: translate3d(0,0,0);
                                                            transition-delay: 0s;
                                                        }
                                                    }

                                                    .sg-workspace-expander-toggle {
                                                        position: relative;
                                                        cursor: pointer;
    
                                                        > span {
                                                            display: -webkit-flex;
                                                            display: flex;
                                                            -webkit-justify-content: center;
                                                            justify-content: center;
                                                            -webkit-align-items: center;
                                                            align-items: center;
                                                            -webkit-align-content: center;
                                                            align-content: center;
                                                            position: absolute;
                                                            z-index: 15;
                                                            top: 0;
                                                            left: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            line-height: 1;
                                                            text-align: center;
                                                            opacity: 0;
                                                            transform: translate3d(-5px,0,0);
                                                            transition-delay: 0s;
                                                            transition-duration: .2s;
                                                            transition-property: opacity,transform;
                                                            transition-timing-function: ease;
                                                            pointer-events: none;
                                                        }
    
                                                        > button span:after {
                                                            content: "\00A0\2192";
                                                            display: inline;
                                                            position: relative;
                                                            bottom: 1px;
                                                        }
    
                                                        .textarea-hover-btn, .input-hover-btn {
                                                            position: absolute;
                                                            width: 100%;
                                                            height: 100%;
                                                            z-index: 6;
                                                        }
                                                    }
                                                }
    
                                                .sg-workspace-controls {
                                                    > .sg-scroll-box {
                                                        flex-grow: 1;
                                                        height: 100%;
                                                    }
    
                                                    > .sg-scroll-box .sg-control {
                                                        border-bottom: 1px solid #e2e2e2;
                                                    }
                                                }
    
                                                .sg-control {
                                                    position: relative;
                                                    padding: 20px;
                                                    border-bottom: 1px solid #e2e2e2;
                                                }
    
                                                .sg-scroll-box {
                                                    position: relative;
                                                    height: 100%;
                                                }
    
                                                .ps {
                                                    overflow: hidden!important;
                                                    overflow-anchor: none;
                                                    touch-action: auto;
                                                    -ms-overflow-style: none;
                                                    -ms-touch-action: auto;
                                                }
    
                                                .sg-workspace-controls .sg-control.sg-inspector-actions {
                                                    padding: 0;
                                                }
    
                                                .sg-workspace-actions {
                                                    position: relative;
                                                    display: flex;
                                                    flex-flow: row nowrap;
                                                    width: 100%;
                                                    height: 70px;
    
                                                    .sg-workspace-action-item {
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: center;
                                                        align-items: center;
                                                        flex: 1 0 0%;
                                                        margin: 0;
                                                        border: 0;
                                                        padding: 0;
                                                        text-decoration: none;
                                                        color: #444;
                                                        background-color: #fff;
                                                        cursor: pointer;
    
                                                        .fa-trash-alt {
                                                            width: 20px !important;
                                                            height: 20px;
                                                        }
                                                    }
                                                }
    
                                                .sg-control-header {
                                                    margin: 0 0 10px;
    
                                                    > label {
                                                        display: block;
                                                        margin: 0;
                                                        font-size: 10px;
                                                        font-weight: 600;
                                                        letter-spacing: .065em;
                                                        line-height: 1.4;
                                                        text-transform: uppercase;
                                                        cursor: pointer;
                                                    }
                                                }
    
                                                .sg-control-text-editor {
                                                    > .sg-control-input {
                                                        height: 188px!important;
    
                                                        > .sg-expandable-rich-text {
                                                            height: 100%;
                                                        }
                                                    }
    
                                                    > .sg-expandable-rich-text, .sg-workspace-expander, .sg-workspace-expander-toggle, .sg-workspace-expander-toggle > textarea {
                                                        height: 100%;
                                                        width: 100%;
                                                    }
                                                }
    
                                                .sg-control-input-list {
                                                    margin: -7px 0 0;
                                                    padding: 0;
                                                    list-style: none;
    
                                                    > li {
                                                        // display: flex;
                                                        // align-items: flex-start;
                                                        margin: 7px 0 0;
    
                                                        > .sg-control-input-list-label {
                                                            display: flex;
                                                            flex-direction: column;
                                                            justify-content: center;
                                                            align-items: flex-start;
                                                            flex: 0 0 68px;
                                                            position: relative;
                                                            height: 32px;
                                                            padding: 0 10px 0 0;
                                                            font-size: 10px;
    
                                                            > span {
                                                                display: block;
                                                                line-height: 1.3;
                                                            }
                                                        }
    
                                                        > .sg-control-input-list-input {
                                                            flex: 1;
                                                            overflow: auto;
                                                            background-color: rgba(112, 112, 112, 0.25);

                                                            .audio-feature-value-list {
                                                                list-style: none;
                                                                font-size: 11px;
                                                            }
    
                                                            textarea {
                                                                height: 100% !important;
                                                                line-height: 1.4;
                                                                resize: none;
                                                                resize: vertical;
                                                                overflow: auto;
                                                                position: relative;
                                                                display: block;
                                                                width: 100%;
                                                                min-width: 1px;
                                                                height: 32px;
                                                                margin: 0;
                                                                border: 1px solid #ddd;
                                                                padding: 5px 7px;
                                                                font-family: inherit;
                                                                font-size: 14px;
                                                                font-weight: 400;
                                                                // line-height: 32px;
                                                                line-height: 20px;
                                                                color: #444;
                                                                background-color: #fff;
                                                                outline: 0;
                                                                border-radius: 0;
                                                                box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
                                                                z-index: 5;
                                                                resize: none;
                                                            }

                                                            input[type=text] {
                                                                position: relative;
                                                                display: block;
                                                                width: 100%;
                                                                min-width: 1px;
                                                                height: 32px;
                                                                margin: 0;
                                                                border: 1px solid #ddd;
                                                                padding: 5px 7px;
                                                                font-family: inherit;
                                                                font-size: 14px;
                                                                font-weight: 400;
                                                                line-height: 32px;
                                                                color: #444;
                                                                background-color: #fff;
                                                                outline: 0;
                                                                border-radius: 0;
                                                                box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
                                                                z-index: 5;
                                                            }
                                                        }
                                                    }
                                                }
    
                                                .sg-control-input-list-input-height-5 {
                                                    height: 155px!important;
                                                }
    
                                                textarea.sg-input-code {
                                                    font-family: monospace;
                                                }
    
                                                [class*=sg-control-input-list-input-height] textarea {
                                                    height: 100%;
                                                    line-height: 1.5;
                                                    resize: none;
                                                    font-size: 10px;
                                                }
                                            }

                                            .sg-workspace-content {
                                                display: flex;
                                                flex-direction: column;
                                                flex: 1 0 0%;
                                                overflow: hidden;
                                                height:100%;
    
                                                .sg-workspace-message {
                                                    justify-content: center;
                                                    align-items: center;
                                                    flex: 1;
                                                    height: 100%;
                                                    margin: 0;
                                                    font-size: 14px;
                                                    text-align: center;
                                                    display: flex;
                                                    flex-direction: column;
                                                    width: 100%;
                                                    padding: 20px;
    
                                                    h3 {
                                                        max-width: 23em;
                                                        margin: 0;
                                                        font-size: 1em;
                                                        letter-spacing: .15em;
                                                        line-height: 1.3;
                                                        text-transform: uppercase;
                                                    }
    
                                                    p {
                                                        max-width: 20em;
                                                        margin: .5em auto 0;
                                                        font-size: 1.15em;
                                                        letter-spacing: 0;
                                                        line-height: 1.5;
                                                        color: rgba(68,68,68,.5);
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .sg-workspace-expander-content.sg-active {
                                        transform: translate3d(0,0,0);
                                    }

                                    .sg-workspace-expander-content-vertical {
                                        // top: 265px;
                                        width: 19.199%;
                                        border-right: 1px solid #e2e2e2;
                                        transform: translate3d(-160%,0,0);
                                    }

                                    .sg-workspace-expander-content {
                                        position: fixed;
                                        z-index: 8889;
                                        margin-left: 15px;
                                        // bottom: 140px;
                                        background-color: #fff;
                                        transition-duration: .65s;
                                        transition-property: width,height,transform;
                                        transition-timing-function: cubic-bezier(.23,1,.32,1);
                                        border: 1px solid #ddd;
                                        // height: 57.6%;
                                        height: 60.3%;
                                    }

                                    .sg-workspace-expander-head {
                                        display: -webkit-flex;
                                        display: flex;
                                        -webkit-justify-content: space-between;
                                        justify-content: space-between;
                                        -webkit-align-items: stretch;
                                        align-items: stretch;
                                        position: relative;
                                        z-index: 2;
                                        height: 40px;
                                        border-bottom: 1px solid #e2e2e2;
                                        background-color: #f5f5f5;

                                        .sg-workspace-expander-head-actions {
                                            display: -webkit-flex;
                                            display: flex;
                                            -webkit-align-items: stretch;
                                            align-items: stretch;

                                            button.sg-active {
                                                color: #444;
                                                background-color: #fff;
                                            }

                                            button {
                                                position: relative;
                                                display: block;
                                                width: 40px;
                                                margin: 0;
                                                border: 0;
                                                border-radius: 0;
                                                padding: 0;
                                                font-size: 14px;
                                                line-height: 1;
                                                text-align: center;
                                                color: rgba(68,68,68,.35);
                                                background-color: transparent;
                                                cursor: pointer;
                                            }
                                        }

                                        .sg-workspace-expander-head-actions:first-child button {
                                            border-right: 1px solid #e2e2e2;
                                        }

                                        .sg-workspace-expander-head-actions:last-child button {
                                            border-left: 1px solid #e2e2e2;
                                        }
                                    }

                                    .sg-workspace-expander-body {
                                        position: absolute;
                                        z-index: 2;
                                        top: 40px;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;

                                        .sg-text-editor {
                                            position: relative;
                                            z-index: 1;

                                            textarea.sg-text-editor-html {
                                                width: 100%;
                                                height: 100%;
                                                margin: 0;
                                                border: 0;
                                                padding: 12px 15px;
                                                font-size: 13px;
                                                font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
                                                line-height: 1.55;
                                                box-shadow: none!important;
                                                outline: 0!important;
                                                resize: none;
                                            }
                                        }

                                        .sg-inline-code-editor-placeholder {
                                            overflow: visible;
                                            position: relative;
                                            z-index: 5;
                                            margin: 0;
                                            padding: 4px 4px 0 36px;
                                            font-family: monospace;
                                            font-size: 14px;
                                            line-height: 1.45em;
                                            white-space: pre;
                                            word-wrap: normal;
                                            color: #586e75;
                                            pointer-events: none;
                                            -webkit-tap-highlight-color: transparent;
                                            -webkit-font-variant-ligatures: contextual;
                                            font-variant-ligatures: contextual;
                                        }
                                    }

                                    .sg-code-editor-wrapper {
                                        .CodeMirror.cm-s-material {
                                            text-shadow: none;
                                            background-color: #fff;
                                            height: 100%;
                                        }

                                        textarea.sg-text-editor-css {
                                            width: 100%;
                                            height: 100%;
                                            margin: 0;
                                            border: 0;
                                            padding: 12px 15px;
                                            font-size: 13px;
                                            font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
                                            line-height: 1.55;
                                            box-shadow: none!important;
                                            outline: 0!important;
                                            resize: none;
                                            text-shadow: none;
                                            background-color: rgba(0,43,54,.965);
                                            color: #fff;
                                        }
                                    }

                                    .sg-workspace-expander-head-label {
                                        display: -webkit-flex;
                                        display: flex;
                                        -webkit-align-items: center;
                                        align-items: center;
                                        margin: 0 auto 0 1em;

                                        span {
                                            display: block;
                                            margin: 0;
                                            line-height: 1.4;
                                            font-size: 10px;
                                            letter-spacing: .065em;
                                            font-weight: 600;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}