@mixin slide-modal {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    div.modal-content {
                        div.modal-body {
                            form {
                                input.error {
                                    border-color: red;
                                }
                                
                                .input-feedback {
                                    color: rgb(235, 54, 54);
                                    font-size: 14px;
                                }

                                div.row {
                                    div#slide-sidebar {
                                        .card-header-tabs {
                                            margin-right: 0rem !important;
                                            margin-left: 0rem !important;

                                            .nav-link {
                                                width: calc(100% / 3);
                                                border-left: 1px solid #ddd;
                                                border-top: 1px solid #ddd;
                                                border-bottom: 1px solid #ddd;
                                                border-right: 1px solid #ddd;
                                                border-top-left-radius: 0rem !important;
                                                border-top-right-radius: 0rem !important;
                                            }

                                            .active {
                                                background-color: rgb(112, 112, 112, 0.25);
                                            }
                                        }

                                        .tab-content {
                                            border-left: 1px solid #ddd;
                                            border-right: 1px solid #ddd;
                                            border-bottom: 1px solid #ddd;
                                            padding: 10px;
                                            height: 500px;
                                            overflow: auto;
                                            margin-top: 1rem !important;
                                            padding-top: 0 !important;

                                            .section-header {
                                                border-bottom: 2px solid rgba(0,0,0,.125) !important;

                                                .column-item-remove-btn {
                                                    cursor: pointer;
                                                }
                                            }

                                            .collapsible-body {
                                                border-bottom: 2px solid rgba(0,0,0,.125) !important;

                                                ul.sg-column-layout {
                                                    float: left;
                                                    width: calc(100% + (8px));
                                                    margin: -8px -5px -3px -3px;
                                                    padding: 0;
                                                    list-style: none;

                                                    li.sg-active, li:hover {
                                                        > span {
                                                            background-color: #2980b9;
                                                        }
                                                    }

                                                    > li {
                                                        float: left;
                                                        margin: 3px;
                                                        width: calc(25% - (6px));
                                                        cursor: pointer;
                                                        
                                                        span {
                                                            background-color: #d9e6ee;
                                                            overflow: hidden;
                                                            position: relative;
                                                            display: block;
                                                            float: left;
                                                            margin: 0 2px 0 0;
                                                            width: calc(100% - 2px);
                                                            height: 28px;
                                                            text-indent: -9999em;
                                                            border-radius: 2px;
                                                        }

                                                        span.sg-1-2 {
                                                            width: calc(50% - 2px);
                                                        }

                                                        span.sg-1-3 {
                                                            width: calc(33.333333% - 2px);
                                                        }

                                                        span.sg-2-3 {
                                                            width: calc(66.666667% - 2px);
                                                        }

                                                        span.sg-1-4 {
                                                            width: calc(25% - 2px);
                                                        }

                                                        span.sg-1-5 {
                                                            width: calc(20% - 2px);
                                                        }


                                                    }
                                                }
                                            }

                                            [class*=sg-add-sortable-item] {
                                                left: 0;
                                                right: 0;
                                                height: 20px;
                                                border: 0;
                                                padding: 0;
                                                font-size: 8px;
                                                letter-spacing: .15em;
                                                line-height: 20px;
                                                text-shadow: -1px 0 0 #fff, -2px 0 0 #fff, -3px 0 0 #fff, 1px 0 0 #fff, 2px 0 0 #fff, 3px 0 0 #fff;
                                                color: #bcbcbc;
                                                overflow: hidden;
                                            }

                                            [class*=sg-add-sortable-item] {
                                                display: block;
                                                margin: 0;
                                                background-color: transparent;
                                                width: 100%;
                                                font-weight: 600;
                                                text-transform: uppercase;
                                                cursor: pointer;
                                                height: 100px;
                                            }
                                        }
                                    }

                                    div#slide-content {
                                        div#slide-content-container {
                                            max-height: 545px;
                                            overflow: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .slide-modal-width {
                    max-width: none;
                    width: 80%;
                }
            }
        }
    }
}