@mixin content-picture {
    html {
        body {
            font-family: 'Open Sans';

            .sg-slide-page-container {
                form {
                    .row {
                        #slide-sidebar {
                            .tab-content {
                                #slide-tabs-tabpane-editor {
                                    .sg-workspace-controls {
                                        .sg-controls {
                                            .content-picture-color-picker-bg {
                                                z-index: 5000;
                                                margin: 0 40px;
                                                top: 595px;

                                                @media only screen and (min-width: 1920px) {
                                                    margin: 0 110px;
                                                    top: 595px;
                                                }

                                                @media only screen and (max-width: 1366px) {
                                                    margin: 0 40px;
                                                    top: 595px;
                                                }
                                            }

                                            .content-picture-color-picker-modal-btn {
                                                z-index: 5000;
                                                margin: 0 40px;
                                                top: 155px;

                                                @media only screen and (min-width: 1920px) {
                                                    margin: 0 110px;
                                                    top: 155px;
                                                }

                                                @media only screen and (max-width: 1366px) {
                                                    margin: 0 40px;
                                                    top: 155px;
                                                }
                                            }

                                            .content-picture-border-color-picker {
                                                z-index: 5000;
                                                margin: 0 40px;
                                                top: 505px;

                                                @media only screen and (min-width: 1920px) {
                                                    margin: 0 110px;
                                                    top: 505px;
                                                }

                                                @media only screen and (max-width: 1366px) {
                                                    margin: 0 40px;
                                                    top: 505px;
                                                }
                                            }

                                            .content-picture-text-color-picker {
                                                z-index: 5000;
                                                margin: 0 40px;
                                                top: 550px;

                                                @media only screen and (min-width: 1920px) {
                                                    margin: 0 110px;
                                                    top: 550px;
                                                }

                                                @media only screen and (max-width: 1366px) {
                                                    margin: 0 40px;
                                                    top: 550px;
                                                }
                                            }

                                            .content-picture-modal-setup {
                                                height: 200px !important;
                                            }
                                        }
                                    }

                                    ul.content-picture-modal-list {
                                        .content-picture-modal-list-item {
                                            .content-picture-modal-input-wrapper {
                                                display: flex;
                                                align-items: flex-start;
                                                margin: 7px 0 0;
                                                
                                                .content-picture-modal-input-label {
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-content: center;
                                                    align-items: flex-start;
                                                    flex: 0 0 20px;
                                                    position: relative;
                                                    height: 32px;
                                                    padding: 0 5px 0 0;
                                                    font-size: 10px;
                                                }

                                                .content-picture-modal-input {
                                                    flex: 1 1;

                                                    input[type=text] {
                                                        position: relative;
                                                        display: block;
                                                        width: 100%;
                                                        min-width: 1px;
                                                        height: 32px;
                                                        margin: 0;
                                                        border: 1px solid #ddd;
                                                        padding: 5px 7px;
                                                        font-family: inherit;
                                                        font-size: 14px;
                                                        font-weight: 400;
                                                        line-height: 32px;
                                                        color: #444;
                                                        background-color: #fff;
                                                        outline: 0;
                                                        border-radius: 0;
                                                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
                                                        z-index: 5;
                                                    }
                                                }

                                                .content-picture-modal-button {
                                                    padding-left: 5px
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .content-picture-layout {
                width: 1156px;
                height: 575px;
                position: relative;
                overflow: hidden;
            }
        }
    }
}