@mixin homepage {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    .modal-content {
                        .modal-body {
                            form {
                                .row {
                                    #slide-content {
                                        #slide-content-container {
                                            .container {
                                                .sg-column {
                                                    .content-output {
                                                        #home-page-layout {
                                                            position: relative;
                                                            overflow: hidden;
                                                            width: 100%;
                                                            height: 450px;

                                                            .course-name {
                                                                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;                                                
                                                                background: #4c2157;
                                                                // position: absolute;
                                                                // bottom: 50px;
                                                                // left: 50px;
                                                                padding: 25px;
                                                                text-align: left !important;
                                                                width: 250px;

                                                                h2.course-header {
                                                                    color: #ffffff;
                                                                    font-size: 20px;
                                                                    line-height: 30px;
                                                                    margin: 0 0 10px 0;
                                                                }

                                                                .course-bar {
                                                                    background: #ae71d1;
                                                                    display: inline-block;
                                                                    width: 75px;
                                                                    height: 5px;
                                                                }

                                                                h3.course-sub-header {
                                                                    color: #ffffff;
                                                                    font-size: 15px;
                                                                    line-height: 25px;
                                                                    margin: 10px 0 0 0;
                                                                    word-break: break-all;
                                                                }
                                                            }

                                                            .course-title-bottom-left {
                                                                position: absolute;
                                                                bottom: 50px;
                                                                left: 50px;
                                                            }

                                                            .course-title-top-left {
                                                                position: absolute;
                                                                top: 50px;
                                                                left: 50px;
                                                            }

                                                            .course-title-bottom-right {
                                                                position: absolute;
                                                                bottom: 50px;
                                                                right: 50px;
                                                            }

                                                            .course-title-top-right {
                                                                position: absolute;
                                                                top: 50px;
                                                                right: 50px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}