@mixin homepage {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    .modal-content {
                        .modal-body {
                            form {
                                .row {
                                    #slide-content {
                                        #slide-content-container {
                                            .container {
                                                .sg-column {
                                                    .content-output {
                                                        position: relative;
                                                        overflow: hidden;
                                                        width: 100%;
                                                        height: 450px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}