@mixin homepage {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    .modal-content {
                        .modal-body {
                            form {
                                .row {
                                    #slide-content {
                                        #slide-content-container {
                                            .container {
                                                .sg-column {
                                                    .content-output {
                                                        position: relative;
                                                        overflow: hidden;
                                                        width: 100%;
                                                        height: 450px;

                                                        .course-name {
                                                            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;                                                
                                                            background: #4c2157;
                                                            position: absolute;
                                                            bottom: 50px;
                                                            left: 50px;
                                                            padding: 25px;
                                                            text-align: left !important;

                                                            h2.course-header {
                                                                color: #ffffff;
                                                                font-size: 50px;
                                                                line-height: 60px;
                                                                margin: 0 0 10px 0;
                                                            }

                                                            .course-bar {
                                                                background: #ae71d1;
                                                                display: inline-block;
                                                                width: 75px;
                                                                height: 5px;
                                                            }

                                                            h3.course-sub-header {
                                                                color: #ffffff;
                                                                font-size: 22px;
                                                                line-height: 32px;
                                                                margin: 10px 0 0 0;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}