@mixin list-modal {
    html {
        body {
            font-family: 'Open Sans';

            .sg-slide-page-container {
                form {
                    .row {
                        #slide-sidebar {
                            .tab-content {
                                #slide-tabs-tabpane-editor {
                                    // ul.list-modal-button-list {
                                        .list-modal-button-list-item {
                                            .list-modal-control-input-wrapper {
                                                display: flex;
                                                align-items: flex-start;
                                                margin: 7px 0 0;
                                                
                                                .list-modal-control-input-label {
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-content: center;
                                                    align-items: flex-start;
                                                    flex: 0 0 20px;
                                                    position: relative;
                                                    height: 32px;
                                                    padding: 0 5px 0 0;
                                                    font-size: 10px;
                                                }

                                                .list-modal-control-input {
                                                    flex: 1 1;

                                                    input[type=text] {
                                                        position: relative;
                                                        display: block;
                                                        width: 100%;
                                                        min-width: 1px;
                                                        height: 32px;
                                                        margin: 0;
                                                        border: 1px solid #ddd;
                                                        padding: 5px 7px;
                                                        font-family: inherit;
                                                        font-size: 14px;
                                                        font-weight: 400;
                                                        line-height: 32px;
                                                        color: #444;
                                                        background-color: #fff;
                                                        outline: 0;
                                                        border-radius: 0;
                                                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
                                                        z-index: 5;
                                                    }
                                                }

                                                .list-modal-control-button {
                                                    padding-left: 5px
                                                }
                                            }
                                        }
                                    // }

                                    .sg-workspace-controls {
                                        .sg-controls {
                                            .list-modal-color-picker {
                                                z-index: 5000;
                                                margin: 0 40px;
                                                // top: 55px;
                                                top: 290px;

                                                @media only screen and (min-width: 1920px) {
                                                    margin: 0 110px;
                                                    // top: 55px;
                                                    top: 290px;
                                                }

                                                @media only screen and (max-width: 1366px) {
                                                    margin: 0 40px;
                                                    // top: 75px;
                                                    top: 290px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}