@mixin list-ul {
    html {
        body {
            font-family: 'Open Sans';

            div.modal {
                div.modal-dialog {
                    .modal-content {
                        .modal-body {
                            form {
                                .row {
                                    // #slide-content {
                                    //     #slide-content-container {
                                    //         .feature-preview-container {
                                    //             .sg-column {
                                    //                 .content-output {
                                    //                     #list-ul-layout {
                                                            
                                    //                     }
                                    //                 }
                                    //             }
                                    //         }
                                    //     }
                                    // }

                                    #slide-sidebar {
                                        .tab-content {
                                            #uncontrolled-tab-tabpane-editor {
                                                ul.list-ul-list {
                                                    .list-ul-list-item {
                                                        
                                                        .list-ul-control-input-wrapper {
                                                            display: flex;
                                                            align-items: flex-start;
                                                            margin: 7px 0 0;
                                                            
                                                            .list-ul-control-input-label {
                                                                display: flex;
                                                                flex-direction: column;
                                                                justify-content: center;
                                                                align-items: flex-start;
                                                                flex: 0 0 20px;
                                                                position: relative;
                                                                height: 32px;
                                                                padding: 0 5px 0 0;
                                                                font-size: 10px;
                                                            }

                                                            .list-ul-control-input {
                                                                flex: 1 1;

                                                                input[type=text] {
                                                                    position: relative;
                                                                    display: block;
                                                                    width: 100%;
                                                                    min-width: 1px;
                                                                    height: 32px;
                                                                    margin: 0;
                                                                    border: 1px solid #ddd;
                                                                    padding: 5px 7px;
                                                                    font-family: inherit;
                                                                    font-size: 14px;
                                                                    font-weight: 400;
                                                                    line-height: 32px;
                                                                    color: #444;
                                                                    background-color: #fff;
                                                                    outline: 0;
                                                                    border-radius: 0;
                                                                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
                                                                    z-index: 5;
                                                                }
                                                            }

                                                            .list-ul-control-button {
                                                                padding-left: 5px
                                                            }
                                                        }

                                                        .accordion {
                                                            .card {
                                                                .card-body {
                                                                    .card-header-tabs {
                                                                        margin-top: 10px;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}