@mixin quiz {
    html {
        body {
            font-family: 'Open Sans';

            div.modal {
                div.modal-dialog {
                    .modal-content {
                        .modal-body {
                            form {
                                .row {
                                    #slide-content {
                                        #slide-content-container {
                                            .container {
                                                .sg-column {
                                                    .content-output {
                                                        #quiz-multiple-layout {
                                                            text-align: left !important;

                                                            .question-group {
                                                                ul.quiz-question-answers {
                                                                    // columns: 2;
                                                                    // -webkit-columns: 2;
                                                                    // -moz-columns: 2;
                                                                    li {
                                                                        div.quiz-choices {
                                                                            line-height: 45px;
                                                                            width: 100%;
                                                                            cursor: pointer;

                                                                            .quiz-choice-label-selected {
                                                                                background: #5eb75e;
                                                                            }

                                                                            .quiz-label {
                                                                                width: 45px;
                                                                                height: 45px;
                                                                                background: #778395;
                                                                                color: white;
                                                                                font-size: 28px;
                                                                                line-height: 45px;
                                                                                float: left;
                                                                            }

                                                                            .quiz-choice-text {
                                                                                height: 45px;
                                                                                font-size: 20px;
                                                                                line-height: 45px;
                                                                                float: left;
                                                                                padding-left: 20px;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    #slide-sidebar {
                                        .tab-content {
                                            #uncontrolled-tab-tabpane-editor {
                                                ul.quiz-question-list {
                                                    .quiz-question-list-item {
                                                        // ul.quiz-question-list {
                                                        //     columns: 2;
                                                        //     -webkit-columns: 2;
                                                        //     -moz-columns: 2;
                                                        // }
                                                        
                                                        .quiz-control-input-wrapper {
                                                            display: flex;
                                                            align-items: flex-start;
                                                            margin: 7px 0 0;
                                                            
                                                            .quiz-control-input-label {
                                                                display: flex;
                                                                flex-direction: column;
                                                                justify-content: center;
                                                                align-items: flex-start;
                                                                flex: 0 0 20px;
                                                                position: relative;
                                                                height: 32px;
                                                                padding: 0 10px 0 0;
                                                                font-size: 10px;
                                                            }

                                                            .quiz-control-input {
                                                                flex: 1 1;

                                                                input[type=text] {
                                                                    position: relative;
                                                                    display: block;
                                                                    width: 100%;
                                                                    min-width: 1px;
                                                                    height: 32px;
                                                                    margin: 0;
                                                                    border: 1px solid #ddd;
                                                                    padding: 5px 7px;
                                                                    font-family: inherit;
                                                                    font-size: 14px;
                                                                    font-weight: 400;
                                                                    line-height: 32px;
                                                                    color: #444;
                                                                    background-color: #fff;
                                                                    outline: 0;
                                                                    border-radius: 0;
                                                                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
                                                                    z-index: 5;
                                                                }
                                                            }

                                                            .quiz-control-button {
                                                                padding-left: 10px
                                                            }
                                                        }

                                                        .accordion {
                                                            .card {
                                                                .card-body {
                                                                    .card-header-tabs {
                                                                        margin-top: 10px;

                                                                        .nav-link {
                                                                            width: calc(100%/2);
                                                                        }
                                                                    }

                                                                    .tab-content {
                                                                        padding: 10px;
                                                                        height: 200px;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}