@mixin sg-chart {
    html {
        body {
            font-family: 'Open Sans';

            .sg-charts-layout {
                width: 1156px;
                height: 575px;
                position: relative;
                overflow: hidden;
            }

            .sg-charts-border-color-picker {
                z-index: 5000;
                margin: 0 40px;
                top: 315px;

                @media only screen and (min-width: 1920px) {
                    margin: 0 110px;
                    top: 315px;
                }

                @media only screen and (max-width: 1366px) {
                    margin: 0 40px;
                    top: 315px;
                }
            }

            .sg-charts-text-color-picker {
                z-index: 5000;
                margin: 0 40px;
                top: 360px;

                @media only screen and (min-width: 1920px) {
                    margin: 0 110px;
                    top: 360px;
                }

                @media only screen and (max-width: 1366px) {
                    margin: 0 40px;
                    top: 360px;
                }
            }
        }
    }
}