@mixin media-uploader {
    html {
        body {
            .gallery-modal {
                .modal-content {
                    .modal-body {
                        .tab-content {
                            #controlled-tab-example-tabpane-uploadFiles {
                                .custom-file {
                                    cursor: pointer;
                                }

                                .fadeOut {
                                    opacity:0;
                                    width:0;
                                    height:0;
                                    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
                                }

                               .fadeIn {
                                    opacity:1;
                                    width:100%;
                                    height:100%;
                                    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}