@mixin region {
    html {
        body {
            #root {
                .region-container {
                    background: lightgrey; 
                    padding: 8px;
                    height: 300px;
                    border-radius: 5px;

                    .region-item {
                        user-select: none; 
                        padding: 16px 16px 16px 16px; 
                        margin: 0px 0px 8px 0px; 
                        background: grey;
                        border-radius: 5px;

                        .region-item-close-btn {
                            padding: 0px 0px 0px 0px;
                            height: 25px;
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
}