@mixin resources-modal {
    html {
        body {
            div.modal {
                div.resources-modal {
                    div.modal-content {
                        div.modal-body {
                            form {
                                .custom-file-label {
                                    // margin: 65px 15px 10px 15px;
                                    margin: 0px 0px 0px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}