@mixin slide-modal-column {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    div.modal-content {
                        div.modal-body {
                            form {
                                div.row {
                                    div#slide-sidebar {
                                        .tab-content {
                                            div#slide-tabs-tabpane-column {

                                                .sg-workspace-content-section {
                                                    padding: 10px;
                                                }

                                                .section-header {
                                                    // border-bottom: 2px solid rgba(0,0,0,.125) !important;

                                                    .column-item-remove-btn {
                                                        cursor: pointer;
                                                    }
                                                }

                                                .collapsible-body {
                                                    border-bottom: 2px solid rgba(0,0,0,.125) !important;

                                                    ul.sg-column-layout {
                                                        float: left;
                                                        width: calc(100% + (8px));
                                                        margin: -8px -5px -3px -3px;
                                                        padding: 0;
                                                        list-style: none;

                                                        li.sg-active, li:hover {
                                                            > span {
                                                                background-color: #2980b9;
                                                            }
                                                        }

                                                        > li {
                                                            float: left;
                                                            margin: 3px;
                                                            width: calc(25% - (6px));
                                                            cursor: pointer;
                                                            
                                                            span {
                                                                background-color: #d9e6ee;
                                                                overflow: hidden;
                                                                position: relative;
                                                                display: block;
                                                                float: left;
                                                                margin: 0 2px 0 0;
                                                                width: calc(100% - 2px);
                                                                height: 28px;
                                                                text-indent: -9999em;
                                                                border-radius: 2px;
                                                            }

                                                            span.sg-1-2 {
                                                                width: calc(50% - 2px);
                                                            }

                                                            span.sg-1-3 {
                                                                width: calc(33.333333% - 2px);
                                                            }

                                                            span.sg-2-3 {
                                                                width: calc(66.666667% - 2px);
                                                            }

                                                            span.sg-1-4 {
                                                                width: calc(25% - 2px);
                                                            }

                                                            span.sg-1-5 {
                                                                width: calc(20% - 2px);
                                                            }
                                                        }
                                                    }

                                                    ul.sg-column-layout.disabled {
                                                        > li {
                                                            pointer-events:none; //This makes it not clickable
                                                            opacity:0.6; //This grays it out to look disabled
                                                            cursor: not-allowed !important;
                                                        }
                                                    }
                                                }

                                                [class*=sg-add-sortable-column] {
                                                    left: 0;
                                                    right: 0;
                                                    height: 20px;
                                                    border: 0;
                                                    padding: 0;
                                                    font-size: 9px;
                                                    letter-spacing: .15em;
                                                    line-height: 20px;
                                                    text-shadow: -1px 0 0 #fff, -2px 0 0 #fff, -3px 0 0 #fff, 1px 0 0 #fff, 2px 0 0 #fff, 3px 0 0 #fff;
                                                    color: #bcbcbc;
                                                    overflow: hidden;
                                                }

                                                [class*=sg-add-sortable-column] {
                                                    display: block;
                                                    margin: 0;
                                                    background-color: transparent;
                                                    width: 100%;
                                                    font-weight: 600;
                                                    text-transform: uppercase;
                                                    cursor: pointer;
                                                }

                                                [class*=sg-add-sortable-column]:hover {
                                                    color: green;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}