@mixin slide-modal-features {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    div.modal-content {
                        div.modal-body {
                            form {
                                div.row {
                                    div#slide-sidebar {
                                        .tab-content {
                                            div#uncontrolled-tab-tabpane-features {
                                                #templates-title {
                                                    margin-top: -5.5px;
                                                }
                                                
                                                .sg-feature-list {
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    justify-content: flex-start;
                                                    align-items: flex-start;
                                                    background-color: #fff;
                                                    box-shadow: inset 0 -1px 0 0 #e2e2e2;
    
                                                    .sg-feature-list-item {
                                                        display: flex;
                                                        align-items: center;
                                                        flex: 1 1 100%;
                                                        overflow: hidden;
                                                        height: 71.25px;
                                                        border-color: #e2e2e2;
                                                        border-style: solid;
                                                        border-width: 0 0 1px;
                                                        padding: 0 20px;
                                                        background-color: #fff;
                                                        cursor: pointer;
    
                                                        h4 {
                                                            flex: 0 1 auto;
                                                            overflow: hidden;
                                                            min-width: 1px;
                                                            margin: 0 auto 0 0;
                                                            padding: 0 0 0 20px;
                                                            font-size: 10px;
                                                            font-weight: 600;
                                                            letter-spacing: .065em;
                                                            line-height: 1;
                                                            text-overflow: ellipsis;
                                                            text-transform: uppercase;
                                                            white-space: nowrap;
                                                        }
    
                                                        .feature-icon {
                                                            height: 30px;
                                                            width: 30px;
                                                        }
                                                    }
                                                }
                                            }
    
                                            div#uncontrolled-tab-tabpane-editor {
                                                height: 90%;
    
                                                .sg-workspace-controls {
                                                    > .sg-scroll-box {
                                                        flex-grow: 1;
                                                        height: 100%;
                                                    }
    
                                                    > .sg-scroll-box .sg-control {
                                                        border-bottom: 1px solid #e2e2e2;
                                                    }
                                                }
    
                                                .sg-control {
                                                    position: relative;
                                                    padding: 20px;
                                                    border-bottom: 1px solid #e2e2e2;
                                                }
    
                                                .sg-scroll-box {
                                                    position: relative;
                                                    height: 100%;
                                                }
    
                                                .ps {
                                                    overflow: hidden!important;
                                                    overflow-anchor: none;
                                                    touch-action: auto;
                                                    -ms-overflow-style: none;
                                                    -ms-touch-action: auto;
                                                }
    
                                                .sg-workspace-controls .sg-control.sg-inspector-actions {
                                                    padding: 0;
                                                }
    
                                                .sg-workspace-actions {
                                                    position: relative;
                                                    display: flex;
                                                    flex-flow: row nowrap;
                                                    width: 100%;
                                                    height: 70px;
    
                                                    .sg-workspace-action-item {
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: center;
                                                        align-items: center;
                                                        flex: 1 0 0%;
                                                        margin: 0;
                                                        border: 0;
                                                        padding: 0;
                                                        text-decoration: none;
                                                        color: #444;
                                                        background-color: #fff;
                                                        cursor: pointer;
    
                                                        .fa-trash-alt {
                                                            width: 20px !important;
                                                            height: 20px;
                                                        }
                                                    }
                                                }
    
                                                .sg-control-header {
                                                    margin: 0 0 10px;
    
                                                    > label {
                                                        display: block;
                                                        margin: 0;
                                                        font-size: 10px;
                                                        font-weight: 600;
                                                        letter-spacing: .065em;
                                                        line-height: 1.4;
                                                        text-transform: uppercase;
                                                        cursor: pointer;
                                                    }
                                                }
    
                                                .sg-control-text-editor {
                                                    > .sg-control-input {
                                                        height: 188px!important;
    
                                                        > .sg-expandable-rich-text {
                                                            height: 100%;
                                                        }
                                                    }
    
                                                    > .sg-expandable-rich-text, .sg-workspace-expander, .sg-workspace-expander-toggle, .sg-workspace-expander-toggle > textarea {
                                                        height: 100%;
                                                        width: 100%;
                                                    }
    
                                                    .sg-workspace-expander-toggle {
                                                        position: relative;
                                                        cursor: pointer;
    
                                                        > span {
                                                            display: -webkit-flex;
                                                            display: flex;
                                                            -webkit-justify-content: center;
                                                            justify-content: center;
                                                            -webkit-align-items: center;
                                                            align-items: center;
                                                            -webkit-align-content: center;
                                                            align-content: center;
                                                            position: absolute;
                                                            z-index: 15;
                                                            top: 0;
                                                            left: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            line-height: 1;
                                                            text-align: center;
                                                            opacity: 0;
                                                            transform: translate3d(-5px,0,0);
                                                            transition-delay: 0s;
                                                            transition-duration: .2s;
                                                            transition-property: opacity,transform;
                                                            transition-timing-function: ease;
                                                            pointer-events: none;
                                                        }
    
                                                        > button span:after {
                                                            content: "\00A0\2192";
                                                            display: inline;
                                                            position: relative;
                                                            bottom: 1px;
                                                        }
    
                                                        .textarea-hover-btn {
                                                            position: absolute;
                                                            width: 100%;
                                                            height: 100%;
                                                        }
                                                    }
                                                }
    
                                                .sg-control-input-list {
                                                    margin: -7px 0 0;
                                                    padding: 0;
                                                    list-style: none;
    
                                                    > li {
                                                        // display: flex;
                                                        // align-items: flex-start;
                                                        margin: 7px 0 0;
    
                                                        > .sg-control-input-list-label {
                                                            display: flex;
                                                            flex-direction: column;
                                                            justify-content: center;
                                                            align-items: flex-start;
                                                            flex: 0 0 68px;
                                                            position: relative;
                                                            height: 32px;
                                                            padding: 0 10px 0 0;
                                                            font-size: 10px;
    
                                                            > span {
                                                                display: block;
                                                                line-height: 1.3;
                                                            }
                                                        }
    
                                                        > .sg-control-input-list-input {
                                                            flex: 1;
    
                                                            textarea {
                                                                height: 100% !important;
                                                                line-height: 1.4;
                                                                resize: none;
                                                                resize: vertical;
                                                                overflow: auto;
                                                                position: relative;
                                                                display: block;
                                                                width: 100%;
                                                                min-width: 1px;
                                                                height: 32px;
                                                                margin: 0;
                                                                border: 1px solid #ddd;
                                                                padding: 5px 7px;
                                                                font-family: inherit;
                                                                font-size: 14px;
                                                                font-weight: 400;
                                                                // line-height: 32px;
                                                                line-height: 20px;
                                                                color: #444;
                                                                background-color: #fff;
                                                                outline: 0;
                                                                border-radius: 0;
                                                                box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
                                                                z-index: 5;
                                                                resize: none;
                                                            }

                                                            .multiple-choice-question-list {
                                                                li.multiple-choice-question-list-item {
                                                                    font-size: 12px;

                                                                    // button {
                                                                    //     height: 24px !important;
                                                                    // }

                                                                    form {
                                                                        .question-field {
                                                                            input.error {
                                                                                border-color: red;
                                                                            }
                                                                            
                                                                            .input-feedback {
                                                                                color: rgb(235, 54, 54);
                                                                                margin-top: -5px;
                                                                                font-size: 12px;
                                                                                margin-left: 19px;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
    
                                                .sg-control-input-list-input-height-5 {
                                                    height: 155px!important;
                                                }
    
                                                textarea.sg-input-code {
                                                    font-family: monospace;
                                                }
    
                                                [class*=sg-control-input-list-input-height] textarea {
                                                    height: 100%;
                                                    line-height: 1.5;
                                                    resize: none;
                                                    font-size: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}