@charset "UTF-8";
html body #root .App .App-header p {
  color: red;
}

html body #root .features-container {
  background: lightgrey;
  display: flex;
  padding: 8px;
  overflow: auto;
  height: 72px;
  border-radius: 5px;
}
html body #root .features-container .feature-item {
  user-select: none;
  padding: 16px;
  margin: 0px 8px 0px 0px;
  background: grey;
  border-radius: 5px;
}

html body #root .region-container {
  background: lightgrey;
  padding: 8px;
  height: 300px;
  border-radius: 5px;
}
html body #root .region-container .region-item {
  user-select: none;
  padding: 16px 16px 16px 16px;
  margin: 0px 0px 8px 0px;
  background: grey;
  border-radius: 5px;
}
html body #root .region-container .region-item .region-item-close-btn {
  padding: 0px 0px 0px 0px;
  height: 25px;
  width: 25px;
}

html body #root #generator-container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
html body #root #generator-container .row input.error, html body #root #generator-container .row label.error {
  border-color: red;
}
html body #root #generator-container .row .input-feedback {
  color: #eb3636;
  font-size: 14px;
}
html body #root #generator-container .row input[type=file] {
  display: block;
}
html body #root #generator-container .row .custom-file-label {
  width: 280px;
}
html body #root #generator-container .row #lesson-container {
  width: 100%;
  height: 350px;
  background: white;
  border-radius: 5px;
  padding: 5px;
}
html body #root #generator-container .row #lesson-container .lesson-container {
  background: lightgrey;
  padding: 8px;
  height: 100%;
  border-radius: 5px;
  overflow: auto;
}
html body #root #generator-container .row #lesson-container .lesson-container .lesson-item-remove-btn {
  padding: 0px 0px 0px 0px;
  height: 25px;
  width: 25px;
}
html body #root #generator-container .row #lesson-container .lesson-container div.accordion div.card div.collapse div.card-body div.slide-container {
  background: lightgrey;
  padding: 8px;
  height: 100%;
  border-radius: 5px;
}
html body #root #generator-container .row #lesson-container .lesson-container div.accordion div.card div.collapse div.card-body div.slide-container .slide-item {
  user-select: none;
  padding: 15px;
  margin: 0px 0px 8px 0px;
  background: whitesmoke;
  border-radius: 5px;
}
html body #root .container-fluid {
  background-color: #70707021;
}

html body div.modal div.modal-dialog div.modal-content div.modal-body form input.error {
  border-color: red;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form .input-feedback {
  color: #eb3636;
  font-size: 14px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .card-header-tabs {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .card-header-tabs .nav-link {
  width: calc(100% / 3);
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .card-header-tabs .active {
  background-color: rgba(112, 112, 112, 0.25);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 500px;
  overflow: auto;
  margin-top: 0.25rem !important;
  padding-top: 0 !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .sg-workspace-content-section {
  padding: 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .section-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .section-header .column-item-remove-btn {
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout {
  float: left;
  width: calc(100% + (8px));
  margin: -8px -5px -3px -3px;
  padding: 0;
  list-style: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout li.sg-active > span, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout li:hover > span {
  background-color: #2980b9;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li {
  float: left;
  margin: 3px;
  width: calc(25% - (6px));
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span {
  background-color: #d9e6ee;
  overflow: hidden;
  position: relative;
  display: block;
  float: left;
  margin: 0 2px 0 0;
  width: calc(100% - 2px);
  height: 28px;
  text-indent: -9999em;
  border-radius: 2px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-1-2 {
  width: calc(50% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-1-3 {
  width: calc(33.333333% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-2-3 {
  width: calc(66.666667% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-1-4 {
  width: calc(25% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-1-5 {
  width: calc(20% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column [class*=sg-add-sortable-item] {
  left: 0;
  right: 0;
  height: 20px;
  border: 0;
  padding: 0;
  font-size: 9px;
  letter-spacing: 0.15em;
  line-height: 20px;
  text-shadow: -1px 0 0 #fff, -2px 0 0 #fff, -3px 0 0 #fff, 1px 0 0 #fff, 2px 0 0 #fff, 3px 0 0 #fff;
  color: #bcbcbc;
  overflow: hidden;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column [class*=sg-add-sortable-item] {
  display: block;
  margin: 0;
  background-color: transparent;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column [class*=sg-add-sortable-item]:hover {
  color: green;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-features .sg-element-library {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 0 #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-features .sg-element-library .sg-element-library-item:first-child {
  margin-top: -5.5px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-features .sg-element-library .sg-element-library-item {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  overflow: hidden;
  height: 71.25px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 0 0 1px;
  padding: 0 20px;
  background-color: #fff;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-features .sg-element-library .sg-element-library-item h4 {
  flex: 0 1 auto;
  overflow: hidden;
  min-width: 1px;
  margin: 0 auto 0 0;
  padding: 0 0 0 20px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.065em;
  line-height: 1;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-features .sg-element-library .sg-element-library-item .feature-icon {
  height: 30px;
  width: 30px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor {
  height: 90%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-workspace-controls > .sg-scroll-box {
  flex-grow: 1;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-workspace-controls > .sg-scroll-box .sg-control {
  border-bottom: 1px solid #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-scroll-box {
  position: relative;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .ps {
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
  -ms-overflow-style: none;
  -ms-touch-action: auto;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-workspace-controls .sg-control.sg-inspector-actions {
  padding: 0;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-workspace-actions {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 70px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-workspace-actions .sg-workspace-action-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0%;
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-workspace-actions .sg-workspace-action-item .fa-trash-alt {
  width: 20px !important;
  height: 20px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-header {
  margin: 0 0 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-header > label {
  display: block;
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.065em;
  line-height: 1.4;
  text-transform: uppercase;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-control-input {
  height: 188px !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-control-input > .sg-expandable-rich-text {
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-expandable-rich-text, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle > textarea {
  height: 100%;
  width: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle {
  position: relative;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle > span {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  text-align: center;
  opacity: 0;
  transform: translate3d(-5px, 0, 0);
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  transition-timing-function: ease;
  pointer-events: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle > button span:after {
  content: " →";
  display: inline;
  position: relative;
  bottom: 1px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle .textarea-hover-btn {
  position: absolute;
  width: 100%;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-input-list {
  margin: -7px 0 0;
  padding: 0;
  list-style: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li {
  display: flex;
  align-items: flex-start;
  margin: 7px 0 0;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 68px;
  position: relative;
  height: 32px;
  padding: 0 10px 0 0;
  font-size: 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-label > span {
  display: block;
  line-height: 1.3;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-input {
  flex: 1;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-input textarea {
  height: 100% !important;
  line-height: 1.4;
  resize: none;
  resize: vertical;
  overflow: auto;
  position: relative;
  display: block;
  width: 100%;
  min-width: 1px;
  height: 32px;
  margin: 0;
  border: 1px solid #ddd;
  padding: 5px 7px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444;
  background-color: #fff;
  outline: 0;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  z-index: 5;
  resize: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor .sg-control-input-list-input-height-5 {
  height: 188px !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor textarea.sg-input-code {
  font-family: monospace;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar div#uncontrolled-tab-tabpane-editor [class*=sg-control-input-list-input-height] textarea {
  height: 100%;
  line-height: 1.5;
  resize: none;
  font-size: 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .sg-workspace-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  overflow: hidden;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .sg-workspace-content .sg-workspace-message {
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  margin: 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .sg-workspace-content .sg-workspace-message h3 {
  max-width: 23em;
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.15em;
  line-height: 1.3;
  text-transform: uppercase;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .sg-workspace-content .sg-workspace-message p {
  max-width: 20em;
  margin: 0.5em auto 0;
  font-size: 1.15em;
  letter-spacing: 0;
  line-height: 1.5;
  color: rgba(68, 68, 68, 0.5);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container {
  max-height: 545px;
  overflow: auto;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-1-2 {
  width: 48%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-1-3 {
  width: 30.66666%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-2-3 {
  width: 65.33332%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-1-4 {
  width: 22%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-1-5 {
  width: 16.8%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-column {
  margin-right: 4%;
  max-height: 200px;
  border: 2px dashed #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-column:last-of-type {
  margin-right: 0 !important;
}
html body div.modal .slide-modal-width {
  max-width: none;
  width: 80%;
}

html body div.modal div.resources-modal div.modal-content div.modal-body form .custom-file-label {
  margin: 0px 0px 0px 15px;
}

html body div.modal div.transcript-modal div.modal-content div.modal-body form .custom-file-label {
  margin: 10px;
}
html body div.modal div.transcript-modal div.modal-content div.modal-body form label.error {
  border: 1px solid red;
  color: red;
}

html body div.modal div.glossary-modal {
  max-width: none;
  width: 70%;
}
html body div.modal div.glossary-modal div.modal-content div.modal-body form .glossary-input-container {
  background: lightgrey;
  padding: 8px;
  max-height: 250px;
  border-radius: 5px;
  overflow: auto;
}

/*# sourceMappingURL=styles.css.map */
