@mixin defaults {
    // Custom widths
    .webupps-w-100-div-2 {
        width: calc(100%/2) !important;
    }
    .w-auto {
        width: auto !important;
    }

    .w-8 {
        width: 8% !important;
    }

    .w-10 {
        width: 10% !important;
    }

    .w-20 {
        width: 20% !important;
    }

    .w-30 {
        width: 30% !important;
    }
    
    .w-40 {
        width: 40% !important;
    }

    .w-55 {
        width: 55% !important;
    }
    
    .w-60 {
        width: 60% !important;
    }

    .w-65 {
        width: 65% !important;
    }

    .w-70 {
        width: 70% !important;
    }

    .w-75 {
        width: 75% !important;
    }

    .w-80 {
        width: 80% !important;
    }

    .w-85 {
        width: 85% !important;
    }

    .w-90 {
        width: 90% !important;
    }

    .w-95 {
        width: 95% !important;
    }

    // Custom heights
    .h-auto {
        height: auto !important;
    }

    .h-10 {
        height: 10% !important;
    }

    .h-20 {
        height: 20% !important;
    }

    .h-30 {
        height: 30% !important;
    }
    
    .h-40 {
        height: 40% !important;
    }

    .h-45 {
        height: 45% !important;
    }

    .h-46-75 {
        height: 46.75% !important;
    }

    .h-54-5 {
        height: 54.5% !important;
    }

    .h-55 {
        height: 55% !important;
    }
    
    .h-60 {
        height: 60% !important;
    }

    .h-65 {
        height: 65% !important;
    }

    .h-67 {
        height: 67% !important;
    }

    .h-70 {
        height: 70% !important;
    }

    .h-74-5 {
        height: 74.5% !important;
    }

    .h-75 {
        height: 75% !important;
    }

    .h-80 {
        height: 80% !important;
    }

    .h-82 {
        height: 82% !important;
    }

    .h-85 {
        height: 85% !important;
    }

    .h-90 {
        height: 90% !important;
    }

    .h-95 {
        height: 95% !important;
    }

    // Custom fonts
    .font-5 {
        font-size: 5px !important;
    }

    .font-10 {
        font-size: 10px !important;
    }

    .font-11 {
        font-size: 11px !important;
    }

    .font-12 {
        font-size: 12px !important;
    }

    .font-13 {
        font-size: 13px !important;
    }

    .font-14 {
        font-size: 14px !important;
    }

    .font-15 {
        font-size: 15px !important;
    }

    .font-20 {
        font-size: 20px !important;
    }

    .font-25 {
        font-size: 25px !important;
    }

    // custom paddings
    @media (min-width: 1200px) {
        .pl-xl-6, .px-xl-6 {
            padding-left: 4.5rem!important;
        }

        .pl-xl-7, .px-xl-7 {
            padding-left: 6rem!important;
        }

        .pl-xl-8, .px-xl-8 {
            padding-left: 7.5rem!important;
        }

        .pr-xl-6, .px-xl-6 {
            padding-right: 4.5rem!important;
        }

        .pr-xl-7, .px-xl-7 {
            padding-right: 6rem!important;
        }

        .pr-xl-8, .px-xl-8 {
            padding-right: 7.5rem!important;
        }
    }

    @media (min-width: 768px) {
        .pl-md-6, .px-md-6 {
            padding-left: 4.5rem!important;
        }

        .pl-md-7, .px-md-7 {
            padding-left: 6rem!important;
        }

        .pl-md-8, .px-md-8 {
            padding-left: 7.5rem!important;
        }

        .pr-md-6, .px-md-6 {
            padding-right: 4.5rem!important;
        }

        .pr-md-7, .px-md-7 {
            padding-right: 6rem!important;
        }

        .pr-md-8, .px-md-8 {
            padding-right: 7.5rem!important;
        }
    }

    @media (min-width: 576px) {
        .pl-sm-6, .px-sm-6 {
            padding-left: 4.5rem!important;
        }
        
        .pl-sm-7, .px-sm-7 {
            padding-left: 6rem!important;
        }

        .pl-sm-8, .px-sm-8 {
            padding-left: 7.5rem!important;
        }

        .pr-sm-6, .px-sm-6 {
            padding-right: 4.5rem!important;
        }

        .pr-sm-7, .px-sm-7 {
            padding-right: 6rem!important;
        }

        .pr-sm-8, .px-sm-8 {
            padding-right: 7.5rem!important;
        }
    }
    
    .pr-6 {
        padding-right: 4.5rem !important;
    }

    .pl-6 {
        padding-left: 4.5rem!important;
    }

    .pl-7 {
        padding-left: 6rem!important;
    }

    .pl-8 {
        padding-left: 7.5rem!important;
    }

    .pr-6 {
        padding-right: 4.5rem!important;
    }

    .pr-7 {
        padding-right: 6rem!important;
    }

    .pr-8 {
        padding-right: 7.5rem!important;
    }

    .webupps-power-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .webupps-text-ellipsis {
        text-overflow: ellipsis !important;
        overflow: hidden;
        white-space: nowrap;
    }

    .webupps-course-logo {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        // width: 280px;
        width: 90%;
        overflow: hidden;
    }

    .webupps-course-logo::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(1.5em + .75rem);
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        content: "Upload Logo";
        background-color: #e9ecef;
        border-left: inherit;
        border-radius: 0 .25rem .25rem 0;
    }

    // custom margins
    .webupps-mt-1-p-1 {
        margin-top: 0.1rem !important;
    }

    .ml-4-5 {
        margin-left: 1.75rem !important;
    }

    .ml-6 {
        margin-left: 4.5rem !important;
    }

    .ml-7 {
        margin-left: 6rem !important;
    }

    .mt-5-5 {
        // margin-top: 3.25rem !important;
        @media (min-width: 1200px) {
            margin-top: 5.5rem ;
        }

        @media screen and (min-device-width: 1200px) { 
            margin-top: 3.25rem ;
        }
    }

    // textarea
    .webupps-resize-none {
        resize: none !important;
    }

    // overflow
    .webupps-overflow-unset {
        overflow: unset !important;
    }

    // important ui defaults
    .webupps-charts-multiselect {
        .dropdown-container {
            .dropdown-content {
                z-index: 5000 !important;
            }
        }
    }

    .webupps-code {
        background: lightgrey;
        padding: 8px;
        height: 100%;
        border-radius: 5px;
        overflow: auto;
    }

    // alignment
    .webupps-vertical-center {
        display: flex !important;
        align-items: center !important;
        flex: 1 1 100% !important;
    }

    .webupps-vertical-center-v2 {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .webupps-video-code-sharing, .webupps-audio-code-sharing {
        height: 100px;
        border: none;
        text-align: left;
    }

    // font-family
    .webupps-monospace {
        font-family: "Lucida Console", Courier, monospace;
    }

    // image shapes
    .webupps-avatar {
        /* make a square container */
        width: 150px !important;
        height: 150px !important;
    
        /* fill the container, preserving aspect ratio, and cropping to fit */
        background-size: cover !important;
    
        /* center the image vertically and horizontally */
        background-position: top center !important;
    
        /* round the edges to a circle with border radius 1/2 container size */
        border-radius: 50% !important;
    }

    // text-indent
    .webupps-text-indent-1 {
        text-indent: .25rem!important;
    }

    .webupps-text-indent-2 {
        text-indent: .5rem!important;
    }

    .webupps-text-indent-3 {
        text-indent: 1rem!important;
    }

    .webupps-text-indent-4 {
        text-indent: 1.5rem!important;
    }

    .webupps-text-indent-5 {
        text-indent: 3rem!important;
    }

    // disabled
    .webupps-disabled {
        pointer-events:none; //This makes it not clickable
        opacity:0.6; //This grays it out to look disabled
        cursor: not-allowed !important;
    }

    // course-related colors
    .webupps-fixed-layout-text-color {
        color: #007BFF !important;
    }

    .webupps-fluid-layout-text-color {
        color:#FF8400 !important;
    }

    *,*:focus,*:hover{
        outline:none;
    }

    // custom input
    .webupps-custom-disabled-textarea {
        text-rendering: auto;
        color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: textarea;
        background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
        -webkit-rtl-ordering: logical;
        flex-direction: column;
        resize: auto;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        margin: 0em;
        font: 400 13.3333px Arial;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(118, 118, 118, 0.3);
        border-image: initial;
        padding: 5px;
        overflow: auto;
        height: 100%;
        width: 100%;
        cursor: default;
    }

    .webupps-custom-textarea {
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: textarea;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        -webkit-rtl-ordering: logical;
        flex-direction: column;
        resize: auto;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        margin: 0em;
        font: 400 13.3333px Arial;
        border-width: 1px;
        border-style: solid;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        padding: 2px;
        overflow: auto;
        height: 100%;
        width: 100%;
    }

    // default css for fixed layout headers
    .course-layout-fixed {
        width: 1195px;
        height: 630px;
        margin: auto;
    }

    .slide-header {
        border-color: #de6d00;
        // border-left: 3px solid;
        border-left-width: 3px !important;
        padding: 0 0 0 10px;
        // margin: 5px 0 35px 0;
        margin: 5px 0 25px 0;
    }

    .slide-subtitle {
        margin: 0;
        font-size: 20px;
        padding: 5px 0;
        border-bottom-width: 3px !important;
    }

    .slide-title {
        font-size: 34px!important;
        margin-top: 5px;
        // padding: 0 0 5px 0;
        text-transform: uppercase;
        font-weight: bold;

        span {
            border-top-width: 3px !important;
        }
    }

    .pad-30 {
        padding: 30px;
    }

    .content-output {
        width: 1160px;
    }
}