@mixin defaults {
    // Custom widths
    .w-auto {
        width: auto !important;
    }

    .w-10 {
        width: 10% !important;
    }

    .w-20 {
        width: 20% !important;
    }

    .w-30 {
        width: 30% !important;
    }
    
    .w-40 {
        width: 40% !important;
    }

    .w-55 {
        width: 55% !important;
    }
    
    .w-60 {
        width: 60% !important;
    }

    .w-65 {
        width: 65% !important;
    }

    .w-70 {
        width: 70% !important;
    }

    .w-75 {
        width: 75% !important;
    }

    .w-80 {
        width: 80% !important;
    }

    .w-85 {
        width: 85% !important;
    }

    .w-90 {
        width: 90% !important;
    }

    .w-95 {
        width: 95% !important;
    }

    // Custom heights
    .h-auto {
        height: auto !important;
    }

    .h-10 {
        height: 10% !important;
    }

    .h-20 {
        height: 20% !important;
    }

    .h-30 {
        height: 30% !important;
    }
    
    .h-40 {
        height: 40% !important;
    }

    .h-45 {
        height: 45% !important;
    }

    .h-46-75 {
        height: 46.75% !important;
    }

    .h-55 {
        height: 55% !important;
    }
    
    .h-60 {
        height: 60% !important;
    }

    .h-65 {
        height: 65% !important;
    }

    .h-70 {
        height: 70% !important;
    }

    .h-75 {
        height: 75% !important;
    }

    .h-80 {
        height: 80% !important;
    }

    .h-85 {
        height: 85% !important;
    }

    .h-90 {
        height: 90% !important;
    }

    .h-95 {
        height: 95% !important;
    }

    // Custom paddings
    .pr-6 {
        padding-right: 4.5rem !important;
    }

    .font-5 {
        font-size: 5px !important;
    }

    .font-10 {
        font-size: 10px !important;
    }

    .font-11 {
        font-size: 11px !important;
    }

    .font-12 {
        font-size: 12px !important;
    }

    .font-13 {
        font-size: 13px !important;
    }

    .font-14 {
        font-size: 14px !important;
    }

    .font-15 {
        font-size: 15px !important;
    }

    .font-20 {
        font-size: 20px !important;
    }

    .font-25 {
        font-size: 25px !important;
    }

    // custom paddings
    @media (min-width: 1200px) {
        .pl-xl-6, .px-xl-6 {
            padding-left: 4.5rem!important;
        }

        .pl-xl-7, .px-xl-7 {
            padding-left: 6rem!important;
        }

        .pl-xl-8, .px-xl-8 {
            padding-left: 7.5rem!important;
        }

        .pr-xl-6, .px-xl-6 {
            padding-right: 4.5rem!important;
        }

        .pr-xl-7, .px-xl-7 {
            padding-right: 6rem!important;
        }

        .pr-xl-8, .px-xl-8 {
            padding-right: 7.5rem!important;
        }
    }

    @media (min-width: 768px) {
        .pl-md-6, .px-md-6 {
            padding-left: 4.5rem!important;
        }

        .pl-md-7, .px-md-7 {
            padding-left: 6rem!important;
        }

        .pl-md-8, .px-md-8 {
            padding-left: 7.5rem!important;
        }

        .pr-md-6, .px-md-6 {
            padding-right: 4.5rem!important;
        }

        .pr-md-7, .px-md-7 {
            padding-right: 6rem!important;
        }

        .pr-md-8, .px-md-8 {
            padding-right: 7.5rem!important;
        }
    }

    @media (min-width: 576px) {
        .pl-sm-6, .px-sm-6 {
            padding-left: 4.5rem!important;
        }
        
        .pl-sm-7, .px-sm-7 {
            padding-left: 6rem!important;
        }

        .pl-sm-8, .px-sm-8 {
            padding-left: 7.5rem!important;
        }

        .pr-sm-6, .px-sm-6 {
            padding-right: 4.5rem!important;
        }

        .pr-sm-7, .px-sm-7 {
            padding-right: 6rem!important;
        }

        .pr-sm-8, .px-sm-8 {
            padding-right: 7.5rem!important;
        }
    }

    .pl-6 {
        padding-left: 4.5rem!important;
    }

    .pl-7 {
        padding-left: 6rem!important;
    }

    .pl-8 {
        padding-left: 7.5rem!important;
    }

    .pr-6 {
        padding-right: 4.5rem!important;
    }

    .pr-7 {
        padding-right: 6rem!important;
    }

    .pr-8 {
        padding-right: 7.5rem!important;
    }

    .power-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}