@import "base/defaults";
@import "components/header";
@import "components/features";
@import "components/region";
@import "components/generator";
@import "components/slide-modal";
@import "components/resources-modal";
@import "components/transcript-modal";
@import "components/glossary-modal";
@import "components/slide-modal-column";
@import "components/slide-modal-features";
@import "components/slide-modal-editor";
@import "components/gallery-modal";
@import "components/media-library";
@import "components/media-uploader";
@import "components/features/homepage";
@import "components/features/multiple-choice";
@import "components/features/course-obj";
@import "components/features/list-modal";
@import "components/features/drag-drop";
@import "components/features/list-ul";
@import "components/features/tabs";
@import "components/features/sg-accordion";
@import "components/features/content-picture-left";

@include defaults;
@include header;
@include features;
@include region;
@include generator;
@include slide-modal;
@include resources-modal;
@include transcript-modal;
@include glossary-modal;
@include slide-modal-column;
@include slide-modal-features;
@include slide-modal-editor;
@include gallery-modal;
@include media-library;
@include media-uploader;
@include homepage;
@include multiple-choice;
@include course-obj;
@include list-modal;
@include drag-drop;
@include list-ul;
@include tabs;
@include sg-accordion;
@include content-picture-left;