@charset "UTF-8";
.w-auto {
  width: auto !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.h-auto {
  height: auto !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-55 {
  height: 55% !important;
}

.h-60 {
  height: 60% !important;
}

.h-65 {
  height: 65% !important;
}

.h-70 {
  height: 70% !important;
}

.h-75 {
  height: 75% !important;
}

.h-80 {
  height: 80% !important;
}

.h-85 {
  height: 85% !important;
}

.h-90 {
  height: 90% !important;
}

.h-95 {
  height: 95% !important;
}

.pr-6 {
  padding-right: 4.5rem !important;
}

.font-5 {
  font-size: 5px;
}

.font-10 {
  font-size: 10px;
}

.font-15 {
  font-size: 15px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

html body #root .App .App-header p {
  color: red;
}

html body #root .features-container {
  background: lightgrey;
  display: flex;
  padding: 8px;
  overflow: auto;
  height: 72px;
  border-radius: 5px;
}
html body #root .features-container .feature-item {
  user-select: none;
  padding: 16px;
  margin: 0px 8px 0px 0px;
  background: grey;
  border-radius: 5px;
}

html body #root .region-container {
  background: lightgrey;
  padding: 8px;
  height: 300px;
  border-radius: 5px;
}
html body #root .region-container .region-item {
  user-select: none;
  padding: 16px 16px 16px 16px;
  margin: 0px 0px 8px 0px;
  background: grey;
  border-radius: 5px;
}
html body #root .region-container .region-item .region-item-close-btn {
  padding: 0px 0px 0px 0px;
  height: 25px;
  width: 25px;
}

html body #root #generator-container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
html body #root #generator-container .row input.error, html body #root #generator-container .row label.error {
  border-color: red;
}
html body #root #generator-container .row .input-feedback {
  color: #eb3636;
  font-size: 14px;
}
html body #root #generator-container .row input[type=file] {
  display: block;
}
html body #root #generator-container .row .custom-file-label {
  width: 280px;
}
html body #root #generator-container .row #lesson-container {
  width: 100%;
  height: 350px;
  background: white;
  border-radius: 5px;
  padding: 5px;
}
html body #root #generator-container .row #lesson-container .lesson-container {
  background: lightgrey;
  padding: 8px;
  height: 100%;
  border-radius: 5px;
  overflow: auto;
}
html body #root #generator-container .row #lesson-container .lesson-container .lesson-item-remove-btn {
  padding: 0px 0px 0px 0px;
  height: 25px;
  width: 25px;
}
html body #root #generator-container .row #lesson-container .lesson-container div.accordion div.card div.collapse div.card-body div.slide-container {
  background: lightgrey;
  padding: 8px;
  height: 100%;
  border-radius: 5px;
}
html body #root #generator-container .row #lesson-container .lesson-container div.accordion div.card div.collapse div.card-body div.slide-container .slide-item {
  user-select: none;
  padding: 15px;
  margin: 0px 0px 8px 0px;
  background: whitesmoke;
  border-radius: 5px;
}
html body #root .container-fluid {
  background-color: #70707021;
}

html body div.modal div.modal-dialog div.modal-content div.modal-body form input.error {
  border-color: red;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form .input-feedback {
  color: #eb3636;
  font-size: 14px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .card-header-tabs {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .card-header-tabs .nav-link {
  width: calc(100% / 3);
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .card-header-tabs .active {
  background-color: rgba(112, 112, 112, 0.25);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 500px;
  overflow: auto;
  margin-top: 0.8rem !important;
  padding-top: 0 !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container {
  max-height: 545px;
  overflow: auto;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-1-2 {
  width: 48%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-1-3 {
  width: 30.66666%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-2-3 {
  width: 65.33332%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-1-4 {
  width: 22%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-1-5 {
  width: 16.8%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-column {
  margin-right: 4%;
  border: 2px dashed #e2e2e2;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .container .sg-column:last-of-type {
  margin-right: 0 !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-content div#slide-content-container .active-column {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
html body div.modal .slide-modal-width {
  max-width: none;
  width: 80%;
}

html body div.modal div.resources-modal div.modal-content div.modal-body form .custom-file-label {
  margin: 0px 0px 0px 15px;
}

html body div.modal div.transcript-modal div.modal-content div.modal-body form .custom-file-label {
  margin: 10px;
}
html body div.modal div.transcript-modal div.modal-content div.modal-body form label.error {
  border: 1px solid red;
  color: red;
}

html body div.modal div.glossary-modal {
  max-width: none;
  width: 70%;
}
html body div.modal div.glossary-modal div.modal-content div.modal-body form .glossary-input-container {
  background: lightgrey;
  padding: 8px;
  max-height: 250px;
  border-radius: 5px;
  overflow: auto;
}

html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .sg-workspace-content-section {
  padding: 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .section-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .section-header .column-item-remove-btn {
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout {
  float: left;
  width: calc(100% + (8px));
  margin: -8px -5px -3px -3px;
  padding: 0;
  list-style: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout li.sg-active > span, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout li:hover > span {
  background-color: #2980b9;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li {
  float: left;
  margin: 3px;
  width: calc(25% - (6px));
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span {
  background-color: #d9e6ee;
  overflow: hidden;
  position: relative;
  display: block;
  float: left;
  margin: 0 2px 0 0;
  width: calc(100% - 2px);
  height: 28px;
  text-indent: -9999em;
  border-radius: 2px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-1-2 {
  width: calc(50% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-1-3 {
  width: calc(33.333333% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-2-3 {
  width: calc(66.666667% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-1-4 {
  width: calc(25% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column .collapsible-body ul.sg-column-layout > li span.sg-1-5 {
  width: calc(20% - 2px);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column [class*=sg-add-sortable-column] {
  left: 0;
  right: 0;
  height: 20px;
  border: 0;
  padding: 0;
  font-size: 9px;
  letter-spacing: 0.15em;
  line-height: 20px;
  text-shadow: -1px 0 0 #fff, -2px 0 0 #fff, -3px 0 0 #fff, 1px 0 0 #fff, 2px 0 0 #fff, 3px 0 0 #fff;
  color: #bcbcbc;
  overflow: hidden;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column [class*=sg-add-sortable-column] {
  display: block;
  margin: 0;
  background-color: transparent;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-column [class*=sg-add-sortable-column]:hover {
  color: green;
}

html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-features #templates-title {
  margin-top: -5.5px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-features .sg-feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 0 #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-features .sg-feature-list .sg-feature-list-item {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  overflow: hidden;
  height: 71.25px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 0 0 1px;
  padding: 0 20px;
  background-color: #fff;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-features .sg-feature-list .sg-feature-list-item h4 {
  flex: 0 1 auto;
  overflow: hidden;
  min-width: 1px;
  margin: 0 auto 0 0;
  padding: 0 0 0 20px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.065em;
  line-height: 1;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-features .sg-feature-list .sg-feature-list-item .feature-icon {
  height: 30px;
  width: 30px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor {
  height: 90%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-controls > .sg-scroll-box {
  flex-grow: 1;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-controls > .sg-scroll-box .sg-control {
  border-bottom: 1px solid #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-scroll-box {
  position: relative;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .ps {
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
  -ms-overflow-style: none;
  -ms-touch-action: auto;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-controls .sg-control.sg-inspector-actions {
  padding: 0;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-actions {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 70px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-actions .sg-workspace-action-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0%;
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-actions .sg-workspace-action-item .fa-trash-alt {
  width: 20px !important;
  height: 20px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-header {
  margin: 0 0 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-header > label {
  display: block;
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.065em;
  line-height: 1.4;
  text-transform: uppercase;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-control-input {
  height: 188px !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-control-input > .sg-expandable-rich-text {
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-expandable-rich-text, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle > textarea {
  height: 100%;
  width: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle {
  position: relative;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle > span {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  text-align: center;
  opacity: 0;
  transform: translate3d(-5px, 0, 0);
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  transition-timing-function: ease;
  pointer-events: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle > button span:after {
  content: " →";
  display: inline;
  position: relative;
  bottom: 1px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle .textarea-hover-btn {
  position: absolute;
  width: 100%;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list {
  margin: -7px 0 0;
  padding: 0;
  list-style: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li {
  margin: 7px 0 0;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 68px;
  position: relative;
  height: 32px;
  padding: 0 10px 0 0;
  font-size: 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-label > span {
  display: block;
  line-height: 1.3;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-input {
  flex: 1;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-input textarea {
  height: 100% !important;
  line-height: 1.4;
  resize: none;
  resize: vertical;
  overflow: auto;
  position: relative;
  display: block;
  width: 100%;
  min-width: 1px;
  height: 32px;
  margin: 0;
  border: 1px solid #ddd;
  padding: 5px 7px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444;
  background-color: #fff;
  outline: 0;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  z-index: 5;
  resize: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-input .quiz-question-list li.quiz-question-list-item {
  font-size: 12px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-input .quiz-question-list li.quiz-question-list-item form .question-field input.error {
  border-color: red;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li > .sg-control-input-list-input .quiz-question-list li.quiz-question-list-item form .question-field .input-feedback {
  color: #eb3636;
  margin-top: -5px;
  font-size: 12px;
  margin-left: 19px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list-input-height-5 {
  height: 155px !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor textarea.sg-input-code {
  font-family: monospace;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor [class*=sg-control-input-list-input-height] textarea {
  height: 100%;
  line-height: 1.5;
  resize: none;
  font-size: 10px;
}

html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor {
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-controls .sg-workspace-expander-toggle:hover > span {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-controls .sg-workspace-expander-toggle {
  position: relative;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-controls .sg-workspace-expander-toggle > span {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  text-align: center;
  opacity: 0;
  transform: translate3d(-5px, 0, 0);
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  transition-timing-function: ease;
  pointer-events: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-controls .sg-workspace-expander-toggle > button span:after {
  content: " →";
  display: inline;
  position: relative;
  bottom: 1px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-controls .sg-workspace-expander-toggle .textarea-hover-btn, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-controls .sg-workspace-expander-toggle .input-hover-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-controls > .sg-scroll-box {
  flex-grow: 1;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-controls > .sg-scroll-box .sg-control {
  border-bottom: 1px solid #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #e2e2e2;
  overflow: auto;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-scroll-box {
  position: relative;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .ps {
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
  -ms-overflow-style: none;
  -ms-touch-action: auto;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-controls .sg-control.sg-inspector-actions {
  padding: 0;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-actions {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 70px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-actions .sg-workspace-action-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0%;
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-workspace-actions .sg-workspace-action-item .fa-trash-alt {
  width: 20px !important;
  height: 20px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-header {
  margin: 0 0 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-header > label {
  display: block;
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.065em;
  line-height: 1.4;
  text-transform: uppercase;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-control-input {
  height: 188px !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-control-input > .sg-expandable-rich-text {
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-expandable-rich-text, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle, html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor .sg-workspace-expander-toggle > textarea {
  height: 100%;
  width: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-text-editor > .sg-control-content {
  height: 258px !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list {
  margin: -7px 0 0;
  padding: 0;
  list-style: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li.sg-control-input-list-item {
  display: flex;
  align-items: flex-start;
  margin: 7px 0 0;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li.sg-control-input-list-item > .sg-control-input-list-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 68px;
  position: relative;
  height: 32px;
  padding: 0 10px 0 0;
  font-size: 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li.sg-control-input-list-item > .sg-control-input-list-label > span {
  display: block;
  line-height: 1.3;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li.sg-control-input-list-item > .sg-control-input-list-input {
  flex: 1;
  overflow: auto;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li.sg-control-input-list-item > .sg-control-input-list-input .audio-feature-value-list {
  list-style: none;
  font-size: 11px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li.sg-control-input-list-item > .sg-control-input-list-input textarea {
  height: 100% !important;
  line-height: 1.4;
  resize: none;
  resize: vertical;
  overflow: auto;
  position: relative;
  display: block;
  width: 100%;
  min-width: 1px;
  height: 32px;
  margin: 0;
  border: 1px solid #ddd;
  padding: 5px 7px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444;
  background-color: #fff;
  outline: 0;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  z-index: 5;
  resize: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li.sg-control-input-list-item > .sg-control-input-list-input input[type=text] {
  position: relative;
  display: block;
  width: 100%;
  min-width: 1px;
  height: 32px;
  margin: 0;
  border: 1px solid #ddd;
  padding: 5px 7px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #444;
  background-color: #fff;
  outline: 0;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  z-index: 5;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list > li.sg-control-input-list-item .input-group span {
  font-size: 12px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor .sg-control-input-list-input-height-5 {
  height: 155px !important;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor textarea.sg-input-code {
  font-family: monospace;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content div#uncontrolled-tab-tabpane-editor [class*=sg-control-input-list-input-height] textarea {
  height: 100%;
  line-height: 1.5;
  resize: none;
  font-size: 10px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content .sg-workspace-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  overflow: hidden;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content .sg-workspace-content .sg-workspace-message {
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  margin: 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content .sg-workspace-content .sg-workspace-message h3 {
  max-width: 23em;
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.15em;
  line-height: 1.3;
  text-transform: uppercase;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row div#slide-sidebar .tab-content .sg-workspace-content .sg-workspace-message p {
  max-width: 20em;
  margin: 0.5em auto 0;
  font-size: 1.15em;
  letter-spacing: 0;
  line-height: 1.5;
  color: rgba(68, 68, 68, 0.5);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-content.sg-active {
  transform: translate3d(0, 0, 0);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-content-vertical {
  width: 19.199%;
  border-right: 1px solid #e2e2e2;
  transform: translate3d(-260%, 0, 0);
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-content {
  position: fixed;
  z-index: 8889;
  margin-left: 15px;
  background-color: #fff;
  transition-duration: 0.65s;
  transition-property: width, height, transform;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid #ddd;
  height: 60.3%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-head {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: relative;
  z-index: 2;
  height: 40px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f5f5f5;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-head .sg-workspace-expander-head-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-head .sg-workspace-expander-head-actions button.sg-active {
  color: #444;
  background-color: #fff;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-head .sg-workspace-expander-head-actions button {
  position: relative;
  display: block;
  width: 40px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(68, 68, 68, 0.35);
  background-color: transparent;
  cursor: pointer;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-head .sg-workspace-expander-head-actions:first-child button {
  border-right: 1px solid #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-head .sg-workspace-expander-head-actions:last-child button {
  border-left: 1px solid #e2e2e2;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-body {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-body .sg-text-editor {
  position: relative;
  z-index: 1;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-body .sg-text-editor textarea.sg-text-editor-html {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 12px 15px;
  font-size: 13px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  line-height: 1.55;
  box-shadow: none !important;
  outline: 0 !important;
  resize: none;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-body .sg-inline-code-editor-placeholder {
  overflow: visible;
  position: relative;
  z-index: 5;
  margin: 0;
  padding: 4px 4px 0 36px;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.45em;
  white-space: pre;
  word-wrap: normal;
  color: #586e75;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-body .sg-inline-code-editor .react-codemirror2 .CodeMirror .CodeMirror-scroll {
  width: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-code-editor-wrapper .CodeMirror.cm-s-material {
  text-shadow: none;
  background-color: #fff;
  height: 100%;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-code-editor-wrapper textarea.sg-text-editor-css {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 12px 15px;
  font-size: 13px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  line-height: 1.55;
  box-shadow: none !important;
  outline: 0 !important;
  resize: none;
  text-shadow: none;
  background-color: rgba(0, 43, 54, 0.965);
  color: #fff;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-head-label {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto 0 1em;
}
html body div.modal div.modal-dialog div.modal-content div.modal-body form div.row .sg-workspace-expander-head-label span {
  display: block;
  margin: 0;
  line-height: 1.4;
  font-size: 10px;
  letter-spacing: 0.065em;
  font-weight: 600;
  text-transform: uppercase;
}

html body div.modal .gallery-modal {
  max-width: none;
}
html body div.modal .gallery-modal .modal-content {
  height: 750px !important;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary .gallery-toolbar {
  height: 72px;
  background: #fff;
  z-index: 100;
  padding: 0 16px;
  border: 0 solid #ddd;
  overflow: hidden;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary .gallery-toolbar .gallery-toolbar-filter {
  max-width: 66%;
  float: left;
  height: 100%;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary .gallery-toolbar .gallery-toolbar-filter .gallery-filter-heading {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1;
  z-index: 151;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary .gallery-toolbar .gallery-toolbar-filter select.gallery-filters {
  width: 100%;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary .gallery-toolbar select {
  padding: 2px;
  line-height: 28px;
  height: 28px;
  vertical-align: middle;
}

html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list {
  position: absolute;
  top: 135px;
  left: 0;
  bottom: 0;
  overflow: auto;
  outline: 0;
  padding: 2px 8px 8px;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item {
  width: 20%;
  position: relative;
  float: left;
  padding: 8px;
  margin: 0;
  color: #444;
  cursor: pointer;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .media-preview {
  position: relative;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  background: #eee;
  cursor: pointer;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .media-preview:before {
  content: "";
  display: block;
  padding-top: 100%;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .thumbnail {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.1s;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .thumbnail .centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%);
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .thumbnail .centered img {
  transform: translate(-50%, -50%);
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .thumbnail .audio, html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .thumbnail .video {
  font-size: 12px;
  word-break: break-all;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .thumbail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item .check {
  display: none;
  height: 24px;
  width: 24px;
  padding: 0;
  border: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  outline: 0;
  background: #eee;
  cursor: pointer;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, 0.15);
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item.details {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item.selected .check {
  display: block !important;
}
html body div.modal .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-mediaLibrary ul.media-library-list li.media-library-list-item.details:focus {
  box-shadow: inset 0 0 2px 3px #fff, inset 0 0 0 7px #5b9dd9;
  outline: 2px solid transparent;
  outline-offset: -6px;
}

html body .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-uploadFiles .custom-file {
  cursor: pointer;
}
html body .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-uploadFiles .fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
html body .gallery-modal .modal-content .modal-body .tab-content #controlled-tab-example-tabpane-uploadFiles .fadeIn {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #4c2157;
  padding: 25px;
  text-align: left !important;
  width: 250px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-name h2.course-header {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 10px 0;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-name .course-bar {
  background: #ae71d1;
  display: inline-block;
  width: 75px;
  height: 5px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-name h3.course-sub-header {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  margin: 10px 0 0 0;
  word-break: break-all;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-title-bottom-left {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-title-top-left {
  position: absolute;
  top: 50px;
  left: 50px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-title-bottom-right {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-title-top-right {
  position: absolute;
  top: 50px;
  right: 50px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #home-page-layout .course-title-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html body {
  font-family: "Open Sans";
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #quiz-multiple-layout {
  text-align: left !important;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #quiz-multiple-layout .question-group ul.quiz-question-answers li div.quiz-choices {
  line-height: 45px;
  width: 100%;
  cursor: pointer;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #quiz-multiple-layout .question-group ul.quiz-question-answers li div.quiz-choices .quiz-choice-label-selected {
  background: #5eb75e;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #quiz-multiple-layout .question-group ul.quiz-question-answers li div.quiz-choices .quiz-label {
  width: 45px;
  height: 45px;
  background: #778395;
  color: white;
  font-size: 28px;
  line-height: 45px;
  float: left;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-content #slide-content-container .container .sg-column .content-output #quiz-multiple-layout .question-group ul.quiz-question-answers li div.quiz-choices .quiz-choice-text {
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  float: left;
  padding-left: 20px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-sidebar .tab-content #uncontrolled-tab-tabpane-editor ul.quiz-question-list .quiz-question-list-item .quiz-control-input-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 7px 0 0;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-sidebar .tab-content #uncontrolled-tab-tabpane-editor ul.quiz-question-list .quiz-question-list-item .quiz-control-input-wrapper .quiz-control-input-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 20px;
  position: relative;
  height: 32px;
  padding: 0 10px 0 0;
  font-size: 10px;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-sidebar .tab-content #uncontrolled-tab-tabpane-editor ul.quiz-question-list .quiz-question-list-item .quiz-control-input-wrapper .quiz-control-input {
  flex: 1 1;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-sidebar .tab-content #uncontrolled-tab-tabpane-editor ul.quiz-question-list .quiz-question-list-item .quiz-control-input-wrapper .quiz-control-input input[type=text] {
  position: relative;
  display: block;
  width: 100%;
  min-width: 1px;
  height: 32px;
  margin: 0;
  border: 1px solid #ddd;
  padding: 5px 7px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #444;
  background-color: #fff;
  outline: 0;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  z-index: 5;
}
html body div.modal div.modal-dialog .modal-content .modal-body form .row #slide-sidebar .tab-content #uncontrolled-tab-tabpane-editor ul.quiz-question-list .quiz-question-list-item .quiz-control-input-wrapper .quiz-control-button {
  padding-left: 10px;
}

/*# sourceMappingURL=styles.css.map */
